.low-usage {
  color: green;
}
.medium-usage {
  color: orange;
}
.high-usage {
  color: red;
}

#temperature-up   {border-radius: 50%;}
#temperature-down {border-radius: 50%;}
#temperature-reset {border-radius: 5px;}
#city-form {border-radius: 5px;}

body {background-color: #ADD8E6;}
h1 {font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h2 {color: #008B8B ; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
